<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Classifier</title>
</head>
<body>
    <h1><center>Email Classifier</center></h1>
    <h2><center>Enter your email here</center></h2>
    <form method="post">
        <!-- <label for="mail">Enter the source mail here</label> -->
        <center><input type="text" id="mail" name="mail" style="font-size:15pt;height:120px;width:1000px;"></center>
        
        <center><input type="submit" value="Class"></center>
    </form>
</body>
</html>